  @{
    var db = Database.Open("localDB");
    var Query = "SELECT * FROM users";
    bool antiNull = false; 
    string username="";   
}

<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link href="styles/layout.css" rel="stylesheet" type="text/css" />
        <link id="style" href="styles/coloring_DARK.css" rel="stylesheet" type="text/css" />
        <script src="scripts/menu.js" type="text/javascript"></script>
        <script src="scripts/elements.js" type="text/javascript"></script>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <script src="scripts/js-image-slider.js" type="text/javascript"></script>
        <link href="styles/js-image-slider.css" rel="stylesheet" type="text/css" />
        <title>Kingdoms of Amalur</title>        
    </head>
    <body>
   
    
        <div class="login">
        <div id ="logged"> 
        
        @{
                if (IsPost)
                { 
                username = Request["uname"]; 
                    
                string password = Request["pass"];
                    bool found = false; 
                    foreach (var row in db.Query(Query))
                    {
                         if (username == @row.username)
                         {
                             found = true;
                             if (password == @row.password)
                         {
                             <p><span id="decoded">Welcome @row.name</span>
                                <span id="encoded"></span></p>
                             Query = "UPDATE users SET Online=1 WHERE username = '" + username + "';'";
                             db.Execute(Query);
                             <script type="text/javascript">                                 userloggedIn("@username", "@password", "@row.style")</script>
                             antiNull = true;
                             
                                                         
                         }
                         else {
                            <p>Invalid password for @username please retry</p>
                            <form method="post" action="">
                            Username: <input name="uname"class="textbox" type="text"/> Password: <input name="pass"class="textbox" type="password" />
                            <input type="submit" value="Login" class="submit"> </form>                                  
                         }
                         }                         
                    }
                    if (found == false)
                    {
                     <p>Please <a href="register.cshtml">register!</a></p>
                    }
                }
                else
                {
<form   method="post" action="">
Username: <input name="uname"class="textbox" id="uname"type="text" /> Password: <input name="pass" id="pass"class="textbox" type="password" />
<input type="submit" value="Login" id ="submit" class="submit"><button onclick="registerPage()" class="noSubmit" type="button">Register</button>
</form> 
}

foreach (var row in db.Query(Query))
        {
            <script type="text/javascript">loggedUser("@row.username")</script>
        }
    
}        
        </div>
        </div>
        <header>
            <a title="Home Page" href="home.cshtml"><img src="images/logo.png" alt="logo"/></a>
            <div>
                <h6 title="The creator">by James Filmer - 212289853</h6>
            </div>
        </header>
        <nav role="navigation">
            
                    <ul class="menu">
                        <li class="menuItem">
                            <a href="home.cshtml" title="Home Page">Home</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" onmousemove="show('gameUL')" onmouseout="hide('gameUL')" >Game</a>
                            <div class="nav-wrp" id="game">                                
                                <div class ="nav-wrp-pos">
                                    <ul class ="UL" id="gameUL" onmouseout="hide('gameUL')" onmousemove="show('gameUL')">
                                    <div class="tester">
                                        <li>
                                            <a title="Basic game plot" href="info.cshtml" onmousemove="show('gameUL')">- Info</a>
                                        </li>
                                        <li>
                                            <a title="General 'feel' for the game"href="gameplay.cshtml" onmousemove="show('gameUL')">- Gameplay</a>
                                        </li>
                                        <li>
                                            <a title="Extra content" href="DLC.cshtml" onmousemove="show('gameUL')">- DLC's</a>
                                        </li>
                                        </div>
                                    </ul>                                
                            </div>
                            </div>
                        </li>
                        <li class="menuItem">
                            <a title="The offical Reckoning site"href="http://www.reckoningthegame.com/" target=_blank>Offical Site</a>
                        </li>
                     
                        <li class="menuItem">
                            <a title="Company information" href="company.cshtml">Company info</a>
                        </li>

                        <li class="menuItem" id="userstuff">
                            <a href=""  onmousemove="show('userS')" onmouseout="hide('userS')">User</a>
                            <div class="nav-wrp" id="user">                                
                                <div class ="nav-wrp-pos">
                                    <ul class ="UL" id="userS" onmouseout="hide('userS')" onmousemove="show('userS')">
                                    <div class="tester">
                                        <li>
                                            <a title="User settings and information"href="userinfo.cshtml" onmousemove="show('userS')">- User Info</a>
                                        </li>
                                        <li>
                                            <a title="User logout command" href="@myhelpers.logout(db, antiNull, username)" onclick="logout()" onmousemove="show('userS')">- Logout</a>
                                        </li>
                                        </div>
                                    </ul>                                
                            </div>
                            </div>
                        </li>
                        
                    </ul>
                           
                </nav>

        <div class="page">
            <div id="inner">
                            
                            <img class="hIMG2" src="images/38StudiosLogo.jpg" alt="38 Studios Logo"/>
                           
                            <img class="hIMG2" src="images/BigHugeGamesLogo.jpg" alt="Big Huge Games Logo"/>
                            
                            <img class="hIMG" src="images/ElectronicArtsLogo.png" alt="Electronic Arts Logo"/>
                <h1>Company information</h1>
                <p class="homeP">The game was developed by 38Studios and subgroup Big Huge Games. Later it was published 38Studios and Electronic Arts.</p>
                <h2>Development Process</h2>
                <p class="homeP">38 Studios, owned by former baseball pitcher Curt Schilling, originally began developing the Amalur universe with a 10,000 year history created by R.A. Salvatore for use in a massively multiplayer online role-playing game (MMORPG), codenamed Copernicus. In 2009, they acquired Big Huge Games as Ken Rolston and his team had already been working on an RPG while Big Huge Games was part of THQ. The studio decided to retool their existing single-player role-playing game (RPG) to be set within the same universe in order to introduce the Amalur MMORPG.</p>

                 
                <footer>Designed by <a href="http://facebook.com/hacker15091/" target="_blank">James Filmer</a>, all info from <a href="http://en.wikipedia.org/wiki/Kingdoms_of_Amalur:_Reckoning">Wikipedia</a></footer>
           </div>
        </div>

        
        
        
    </body>
</html>
